/* Apply a background image to the body */
body {
    background-image: url('../images/mars2.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color for better visibility */
    font-family: Arial, sans-serif; /* Font style */
    margin: 0;
    padding: 0;
}

/* Style the main heading */
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

/* Style the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Style the label and select dropdown */
label {
    margin-right: 10px;
    font-size: 1.2em;
}

/* Style the select dropdown */
select {
    padding: 5px;
    font-size: 1em;
    margin-bottom: 10px;
}

/* Style the submit button */
button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Style the gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

/* Style each image item */
.gallery-item {
    margin: 10px;
    text-align: center;
}

/* Style each image */
.gallery-item img {
    width: 300px;
    height: auto;
    border: 5px solid #fff;
    border-radius: 10px;
}

/* Style image descriptions and links */
.gallery-item p,
.gallery-item h4 {
    margin: 5px;
    text-align: justify;
}

/* Style download and share links */
.gallery-item a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    font-size: 1.2rem;
    font-size: 700;
}

.gallery-item a:hover {
    text-decoration: underline;
}

/* Style the info section */
.info-section {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    text-align: center;
}

.info-section h2 {
    margin-top: 0;
    font-size: 1.8em;
}

.info-section p {
    font-size: 1.1em;
}