<!-- apod/templates/apod/image.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Picture of the Day</title>
</head>
<body>
    {% if apod_image %}
        <h1>{{ apod_image.title }}</h1>
        <p>{{ apod_image.date }}</p>
        <p>{{ apod_image.explanation }}</p>
        <img src="{{ apod_image.image_file.url }}" alt="{{ apod_image.title }}">
    {% else %}
        <p>No image available</p>
    {% endif %}
</body>
</html>
