
{% load social_share %}

<!-- mars/templates/mars/images.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Rover Images</title>
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
        }
        .gallery img {
            width: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Mars Rover Images</h1>
    <form method="get">
        <label for="camera">Rover Camera:</label>
        <select name="camera" id="camera">
            <option value="fhaz">fhaz</option>
            <option value="rhaz">rhaz</option>
            <option value="mast">mast</option>
            <option value="chemcam">chemcam</option>
            <option value="mahil">mahil</option>
            <option value="mardi">mardi</option>
            <option value="navcam">navcam</option>
            <option value="pancam">pancam</option>
            <option value="minites">minites</option>
        </select>
        <button type="submit">Fetch Images</button>
    </form>
    <div class="gallery">
        {% for image in photos %}
            <img src="{{ image.img_src }}" alt="Mars Rover Image">
            <p>{{ image.earth_date }}</p>
            
            <a href="{% url 'download_image' image.id %}" download>Download Image</a>
            <h4>{{image.camera.full_name}}</h4>
            <a href="https://api.whatsapp.com/send?text=Check%20out%20this%20image%20!%20{{ image.image_src }}" target="_blank">
                Share on WhatsApp
            </a>
            
        {% endfor %}
    </div>
</body>
</html>

